<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费dubbo服务 -->
    <!-- 消费方应用信息，用于计算依赖关系 -->
    <dubbo:application name="mall-portal-web" />
    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="47.95.219.27:8171"/>
  <!--  <dubbo:reference interface="com.mall.manager.service.ItemService"
                     id="itemService" timeout="30000"/>-->
    <!-- 首页广告内容管理服务接口 -->
    <dubbo:reference interface="com.mall.cms.service.ContentService"
                     id="contentService" timeout="30000"/>
</beans>
